# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.pdb

# Windows
/desktop.ini

# Resources
*.fbx
*.tga
*.png
*_BuiltData.uasset

# Intermediate
*.exp
*.txt
*.bin
*.log
*.res
*.dat
*.deps
*.response
*.uhtmanifest
*.vcxproj
*.filters
*.user

# UnrealEngine
*.sln
*.bat
.vs
*.target
docs/
BuildRules/
Saved/
Intermediate/
Config/Localization/
Source/Tech4Labs/T4Asset/Private
Plugins/Tech4Labs/Source/T4Core/Private
Plugins/Tech4Labs/Source/T4Engine/Private
Plugins/Tech4Labs/Source/T4Framework/Private
Plugins/Tech4Labs/Source/T4Gameplay/Private
Plugins/Tech4Labs/Source/T4RehearsalEditor/Private
